<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatter Plot</title>
</head>
<body>
    <img src="data:image/png;base64,{{ image }}"/><br>
    <form method="POST">
        <label for="learningRate">Learning Rate (between 0.0001 and 0.00001): </label><br>
        <input type="text" name="learningRate" placeholder="0.00005"><br>
        <label for="iterations">Iterations (between 50 and 500): </label><br>
        <input type="text" name="iterations" placeholder="100"><br>
        <input type="submit" value="Perform Linear Regression">
    </form>
</body>
</html>